<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color=#f61111 type="square-jelly-box" [fullScreen]="false">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="search-div">
    <button mat-icon-button color="primary">
        <mat-icon class="pdf" [routerLink]="['information/create']">add_box</mat-icon>
    </button>
</div>
<mat-card>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
        <!-- <circle-progress *ngIf="showSpinner" [percent]="100" [radius]="100" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="10000">
        </circle-progress> -->
        <table class="table">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Language Skills</th>
                <th>Resume</th>
                <th>Date Of Birth</th>
                <th>Actions</th>
            </thead>
            <tr *ngFor="let data of _infoList; index as i">
                <td>{{i+1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.country}}</td>
                <td>{{data.city}}</td>
                <td>{{data.languageSkills}}</td>
                <td>{{data.resumeUpload}}</td>
                <td>{{data.dateOfBirth | date:'d MMMM y'}}</td>
                <td>
                    <button mat-icon-button color="accent">
                        <mat-icon [routerLink]="['information/dialogue/',data.informationId]">insert_drive_file
                        </mat-icon>
                    </button>
                    <button mat-icon-button color="accent">
                        <mat-icon [routerLink]="['information/update/',data.informationId]">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                        <mat-icon (click)="deleteInfo(data.informationId)">delete_forever</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</mat-card>